extends layout.pug

block content
    .row
        .col-12.p-0
            h2.second-heading.mb-3 About

            p.about-text.
                BootstrapCDN was founded in 2012 by #[a.about-link(href='https://twitter.com/DavidHenzel', rel='noopener', target='_blank') David Henzel]
                and Justin Dorfman at MaxCDN. Today, BootstrapCDN is used by over
                #[a.about-link(href='https://trends.builtwith.com/cdn/StackPath-BootstrapCDN', rel='noopener', target='_blank') 7.9 million sites]
                delivering over 70 billion requests a month. In 2021 it was moved under the #[a.about-link(href='https://github.com/jsdelivr', rel='noopener', target='_blank') jsDelivr] organization and is being maintained by #[a.about-link(href='https://dakulov.com/', rel='noopener', target='_blank') Dmitriy Akulov].

            -var activeAuthors=config.app.authors.active;
            if (activeAuthors)
                p There #{activeAuthors.length > 1 ? 'are' : 'is'} currently #{activeAuthors.length} maintainer#{activeAuthors.length > 1 ? 's' : ''}:

                ul
                    each author in activeAuthors
                        li
                            a(href=author.url, rel='noopener', target='_blank')=author.name

                            if (author.work && author.work.text)
                                |  -
                                if (author.work.url)
                                    a(href=author.work.url, rel='noopener', target='_blank')=author.work.text
                                else
                                    | #{author.work.text}

            -var inactiveAuthors=config.app.authors.inactive;
            if (inactiveAuthors)
                p.about-prev-maintainers.mb-3 Previous maintainers:

                ul.ml-3.about-author-list.square-list
                    each author in inactiveAuthors
                        li.mb-2
                            a.about-link.ml-3(href=author.url, rel='noopener', target='_blank')=author.name

                            if (author.work && author.work.text)
                                |  -
                                if (author.work.url)
                                    a.about-link(href=author.work.url, rel='noopener', target='_blank')=author.work.text
                                else
                                    | #{author.work.text}

            .second-heading.mb-3 Core Values

            .third-heading.mb-3 1. Security

            p.about-text Security should be built in, not bolted on.

            ul.ml-3.about-text.square-list
                li.mb-2
                    .ml-3.
                        The legacy infrastructure continues to serve millions of users. The DNS is managed by Cloudflare, and CDN is a mix of Cloudflare and BunnyCDN. The new system is explained in the #[a.about-link(href='https://www.jsdelivr.com/network/infographic', rel='noopener', target='_blank') jsDelivr Infographic]
                li.mb-2
                    .ml-3.
                        Our legacy origin server is hosted by #[a.about-link(href='https://aws.amazon.com/s3/', rel='noopener', target='_blank') Amazon S3] and is in read-only mode. For new origin check the infographic above.
                li.mb-2
                    .ml-3.
                        This website is hosted by Render.
                li.mb-2
                    .ml-3.
                        We enforce #[a.about-link(href='https://en.wikipedia.org/wiki/Multi-factor_authentication', rel='noopener', target='_blank') 2-factor authentication]
                        on all services (including GitHub, Namecheap, AWS & Gmail).
                li.mb-2
                    .ml-3.
                        Our production branch on GitHub is protected to prevent force pushing, prevent branches from being deleted,
                        and require status checks to pass before merging.
                li.mb-2
                    .ml-3.
                        By default we include #[a.about-link(href='https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity', rel='noopener', target='_blank') Subresource Integrity (SRI)]
                        hashes when users copy a code snippet from this site.

            .third-heading.mb-3 2. Reliability

            p.about-text Reliable services require reliable people.

            ul.ml-3.about-text.square-list
                li.mb-2
                    .ml-3.
                        The network is monitored #[em 24/7/365] and any incidents are posted to jsDelivr's
                        #[a.about-link(href='https://twitter.com/jsdelivr', rel='noopener', target='_blank') Twitter page]
                        in real-time.
                li.mb-2
                    .ml-3.
                        Twitter is monitored for any mentions of the terms "#[em BootstrapCDN]",
                        "#[em #BootstrapCDN]", "#[em jsDelivr]".
                li.mb-2
                    .ml-3.
                        Every Pull Request requires our whole test suite to pass. This includes checking every
                        file we deliver, making #[strong ~26K tests] in total, to make sure all of the HTTP headers
                        are correct and the SRI hashes match.
                li.mb-2
                    .ml-3.
                        If for some reason you are experiencing issues, please open an issue in our #[a.about-link(href='https://github.com/jsdelivr/jsdelivr', rel='noopener', target='_blank') Github repo].

            .third-heading.mb-3 3. Accessibility

            p.about-text.
                We must do everything we can to make sure this service is accessible to all.
                We do that by providing IPv6 support, we are also whitelisted in
                #[a.about-link(href='https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/custom_fonts', rel='noopener', target='_blank') Google AMP]
                & the "Great Firewall of China".

            p.about-text.
                Last but not least, we have Points of Presence (POPs) in North America,
                South America, Europe & Asia-Pacific region
                (#[a.about-link(href='https://www.jsdelivr.com/network', rel='noopener', target='_blank') view network map]).

//- vim: ft=pug sw=4 sts=4 et:
