extends layout

block content
    h2 Bootstrap 4 alpha

    .panel.panel-warning
        .panel-heading
            h3.panel-title Warning
        .panel-body
            | Bootstrap 4 is currently in Alpha release and should be treated as such. For details check out 
            a(href="https://blog.getbootstrap.com/2015/08/19/bootstrap-4-alpha/").
                the Bootstrap 4 alpha announcement
            | .
            br
            br
            | While we will do our best to keep this updated to the latest copy, we make no promises, guarantees, etc...

    hr

    div.well
        - var name = 'alphaCSS'.toLowerCase()
        - var file = config.bootstrap4[0].stylesheet
        - var sri  = config.bootstrap4[0].stylesheetSri
        - var id   = name + '_form'

        .form-group
            label(for=id) Complete CSS
            .input-group.input-group-lg
                input.form-control(type="text", id=id, value=file)
                .input-group-btn
                    button.btn.btn-default.btn-lg(type="button", data-el=name)
                        span.caret

        include _partials/csscode

        - var name = 'alphaJS'.toLowerCase()
        - var file = config.bootstrap4[0].javascript
        - var sri  = config.bootstrap4[0].javascriptSri
        - var id   = name + '_form'

        .form-group
            label(for=id) Complete JavaScript
            .input-group.input-group-lg
                input.form-control(type="text", id=id, value=file)
                .input-group-btn
                    button.btn.btn-default.btn-lg(type="button", data-el=name)
                        span.caret

        include _partials/jscode

//- vim: ft=pug sw=4 sts=4 et:
