extends layout

block content
    h2 Bootstrap 4 Beta

    .panel.panel-info
        .panel-heading
            h3.panel-title Info
        .panel-body
            | Bootstrap 4 is currently in Beta release and should be treated as such. For details check out 
            a(href='https://blog.getbootstrap.com/2017/08/10/bootstrap-4-beta/', target='_blank', rel='noopener').
                the Bootstrap 4 Beta announcement
            | .

    hr
    
    each item in config.bootstrap4

        .well
            h3=item.version

            - var name   = 'betaCSS'.toLowerCase() + item.version.replace(/\./g, '_')
            - var file   = item.stylesheet
            - var sri    = item.stylesheetSri
            - var formId = name + '_form'

            .form-group
                label(for=formId) Complete CSS
                .input-group.input-group-lg
                    input.form-control(id=formId, type='text', value=file)
                    .input-group-btn
                        button.btn.btn-default.btn-lg(type='button', data-toggle='collapse', data-target='#' + name, aria-expanded='false', aria-controls=name)
                            span.caret
                span.help-block Click to copy

            include _partials/csscode.pug

            - var name   = 'betaJS'.toLowerCase() + item.version.replace(/\./g, '_')
            - var file   = item.javascript
            - var sri    = item.javascriptSri
            - var formId = name + '_form'

            .form-group
                label(for=formId) Complete JavaScript
                .input-group.input-group-lg
                    input.form-control(id=formId, type='text', value=file)
                    .input-group-btn
                        button.btn.btn-default.btn-lg(type='button', data-toggle='collapse', data-target='#' + name, aria-expanded='false', aria-controls=name)
                            span.caret
                span.help-block Click to copy

            include _partials/jscode.pug

//- vim: ft=pug sw=4 sts=4 et:
