extends layout

block content
    h2 Bootlint
    .well
        - var name = 'bootlintJS'.toLowerCase()
        - var file = config.bootlint[0].javascript
        - var sri  = config.bootlint[0].javascriptSri
        - var id   = name + '_form'

        .form-group
            label(for=id) Complete JavaScript
            .input-group.input-group-lg
                input.form-control(type='text', id=id, value=file)
                .input-group-btn
                    button.btn.btn-default.btn-lg(type='button', data-el=name)
                        span.caret

        include _partials/jscode.pug

//- vim: ft=pug sw=4 sts=4 et:
