extends layout.pug

block content
    include _partials/iconfinder-alert.pug

    h2.text-center.mb-4 Font Awesome

    .card.bg-light.mt-4.p-4.text-center
        -var name   = 'fontawesomecss';
        -var file   = config.files.fontawesome[0].stylesheet;
        -var sri    = config.files.fontawesome[0].stylesheetSri;
        -var formId = `${name}_form`;

        .form-group.my-4
            label.font-weight-bold(for=formId) Font Awesome CSS
            .input-group.input-group-lg
                input.form-control(id=formId, type='text', value=file)
                .input-group-append
                    button.btn.btn-dark.dropdown-toggle(type='button', data-toggle='collapse', data-target=`#${name}`, aria-expanded='false', aria-controls=name)
            span.form-text.text-muted Click to copy

        include _partials/csscode.pug

//- vim: ft=pug sw=4 sts=4 et:
