extends layout.pug

block content
    h2.text-center=title

    include _partials/beta-alert.pug

    h3.text-center.mt-4=`v${config.bootstrap4[0].version}`

    .card.bg-light.mt-4.p-4.text-center
        -var latest = config.bootstrap4[0];
        -var name   = 'quickstartcss' + latest.version.replace(/\./g, '_');
        -var file   = latest.stylesheet;
        -var sri    = latest.stylesheetSri;
        -var formId = name + '_form';

        .form-group.my-4
            label.font-weight-bold(for=formId) Complete CSS
            .input-group.input-group-lg
                input.form-control(id=formId, type='text', value=file)
                span.input-group-btn
                    button.btn.btn-secondary(type='button', data-toggle='collapse', data-target='#' + name, aria-expanded='false', aria-controls=name)
                        span.caret
            span.form-text.text-muted Click to copy

        include _partials/csscode.pug

        -var name   = 'quickstartjs' + latest.version.replace(/\./g, '_');
        -var file   = latest.javascript;
        -var sri    = latest.javascriptSri;
        -var formId = name + '_form';

        .form-group.my-4
            label.font-weight-bold(for=formId) Complete JavaScript
            .input-group.input-group-lg
                input.form-control(id=formId, type='text', value=file)
                span.input-group-btn
                    button.btn.btn-secondary(type='button', data-toggle='collapse', data-target='#' + name, aria-expanded='false', aria-controls=name)
                        span.caret
            span.form-text.text-muted Click to copy

        include _partials/jscode.pug

        -var name   = 'quickstartjsbundle' + latest.version.replace(/\./g, '_');
        -var file   = latest.javascriptBundle;
        -var sri    = latest.javascriptBundleSri;
        -var formId = name + '_form';

        .form-group.my-4
            label.font-weight-bold(for=formId) Complete JavaScript Bundle
            .input-group.input-group-lg
                input.form-control(id=formId, type='text', value=file)
                span.input-group-btn
                    button.btn.btn-secondary(type='button', data-toggle='collapse', data-target='#' + name, aria-expanded='false', aria-controls=name)
                        span.caret
            span.form-text.text-muted Click to copy

        include _partials/jscode.pug

    hr.my-4

    -var latest = config.bootstrap3[0];
    h3.text-center=`v${latest.version}`

    .card.bg-light.mt-4.p-4.text-center
        -var name   = 'quickstartcss' + latest.version.replace(/\./g, '_');
        -var file   = latest.stylesheet;
        -var sri    = latest.stylesheetSri;
        -var formId = name + '_form';

        .form-group.my-4
            label.font-weight-bold(for=formId) Complete CSS
            .input-group.input-group-lg
                input.form-control(id=formId, type='text', value=file)
                span.input-group-btn
                    button.btn.btn-secondary(type='button', data-toggle='collapse', data-target='#' + name, aria-expanded='false', aria-controls=name)
                        span.caret
            span.form-text.text-muted Click to copy

        include _partials/csscode.pug

        -var name   = 'quickstartjs' + latest.version.replace(/\./g, '_');
        -var file   = latest.javascript;
        -var sri    = latest.javascriptSri;
        -var formId = name + '_form';

        .form-group.my-4
            label.font-weight-bold(for=formId) Complete JavaScript
            .input-group.input-group-lg
                input.form-control(id=formId, type='text', value=file)
                span.input-group-btn
                    button.btn.btn-secondary(type='button', data-toggle='collapse', data-target='#' + name, aria-expanded='false', aria-controls=name)
                        span.caret
            span.form-text.text-muted Click to copy

        include _partials/jscode.pug

//- vim: ft=pug sw=4 sts=4 et:
