extends layout.pug

block content
    h2.text-center=title

    -var current = config.files.bootstrap.find(file => file.current);
    -var latestBootstrap5 = config.files.bootstrap.find(file => semver.satisfies(file.version, '^5', { includePrerelease: true }));

    each item in [current, latestBootstrap5]
        if (item === latestBootstrap5)
            hr.my-5.w-50

        h3.text-center.mt-4=`v${item.version}`

        if (item === latestBootstrap5)
            .alert.alert-danger.my-3
                | Bootstrap 5 is currently an Alpha release and should be treated as such! For details check out 
                a.alert-link(href='https://blog.getbootstrap.com/2020/06/16/bootstrap-5-alpha/', target='_blank', rel='noopener').
                    the Bootstrap 5 Alpha announcement
                | .

        .card.bg-light.mt-4.p-4.text-center
            -var name   = `quickstartcss_${item.version.replace(/\./g, '_')}`;
            -var file   = item.stylesheet;
            -var sri    = item.stylesheetSri;
            -var formId = `${name}_form`;

            .form-group.my-4
                label.font-weight-bold(for=formId) CSS
                .input-group.input-group-lg
                    input.form-control(id=formId, type='text', readonly, value=file)
                    .input-group-append
                        button.btn.btn-dark.dropdown-toggle(type='button', data-toggle='collapse', data-target=`#${name}`, aria-label='Toggle Dropdown', aria-expanded='false', aria-controls=name)
                span.form-text.text-muted Click to copy

            include _partials/csscode.pug

            -var name   = `quickstartjs_${item.version.replace(/\./g, '_')}`;
            -var file   = item.javascript;
            -var sri    = item.javascriptSri;
            -var formId = `${name}_form`;

            .form-group.my-4
                label.font-weight-bold(for=formId) JavaScript
                .input-group.input-group-lg
                    input.form-control(id=formId, type='text', readonly, value=file)
                    .input-group-append
                        button.btn.btn-dark.dropdown-toggle(type='button', data-toggle='collapse', data-target=`#${name}`, aria-label='Toggle Dropdown', aria-expanded='false', aria-controls=name)
                span.form-text.text-muted Click to copy

            include _partials/jscode.pug

            -var name   = `quickstartjsbundle_${item.version.replace(/\./g, '_')}`;
            -var file   = item.javascriptBundle;
            -var sri    = item.javascriptBundleSri;
            -var formId = `${name}_form`;

            .form-group.my-4
                label.font-weight-bold(for=formId) JavaScript Bundle
                .input-group.input-group-lg
                    input.form-control(id=formId, type='text', readonly, value=file)
                    .input-group-append
                        button.btn.btn-dark.dropdown-toggle(type='button', data-toggle='collapse', data-target=`#${name}`, aria-label='Toggle Dropdown', aria-expanded='false', aria-controls=name)
                span.form-text.text-muted Click to copy

            include _partials/jscode.pug

            if (item.javascriptEsm)
                -var name   = `quickstartjsesm_${item.version.replace(/\./g, '_')}`;
                -var file   = item.javascriptEsm;
                -var sri    = item.javascriptEsmSri;
                -var formId = `${name}_form`;

                .form-group.my-4
                    label.font-weight-bold(for=formId) JavaScript ESM Build
                    .input-group.input-group-lg
                        input.form-control(id=formId, type='text', readonly, value=file)
                        .input-group-append
                            button.btn.btn-dark.dropdown-toggle(type='button', data-toggle='collapse', data-target=`#${name}`, aria-label='Toggle Dropdown', aria-expanded='false', aria-controls=name)
                    span.form-text.text-muted Click to copy

                include _partials/jscode.pug

//- vim: ft=pug sw=4 sts=4 et:
