extends layout

block content
    h2= title
    div.well
        - var name = 'quickstartCSS'.toLowerCase()
        - var file = config.bootstrap[0].stylesheet
        - var sri  = config.bootstrap[0].stylesheetSri
        - var id   = name + '_form'

        .form-group
            label(for=id) Complete CSS
            .input-group.input-group-lg
                input.form-control(type="text", id=id, value=file)
                .input-group-btn
                    button.btn.btn-default.btn-lg(type="button", data-el=name)
                        span.caret

        include _partials/csscode

        - var name = 'quickstartJS'.toLowerCase()
        - var file = config.bootstrap[0].javascript
        - var sri  = config.bootstrap[0].javascriptSri
        - var id   = name + '_form'

        .form-group
            label(for=id) Complete JavaScript
            .input-group.input-group-lg
                input.form-control(type="text", id=id, value=file)
                .input-group-btn
                    button.btn.btn-default.btn-lg(type="button", data-el=name)
                        span.caret

        include _partials/jscode
        p
            a(href="https://www.maxcdn.com/blog/bootstrapcdn-subresource-integrity/", target="_blank") Why BootstrapCDN believes in Subresource Integrity (SRI)

//- vim: ft=pug sw=4 sts=4 et:
