doctype
html(lang='en', prefix='og: http://ogp.me/ns#', itemscope, itemtype='http://schema.org/WebPage')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='author', content=config.authors.join(', '))
        meta(name='google-site-verification', content='GoWOPbhuU3D9P-yDUxKl1RLuR_vqJIdP_smWw51Wmdc')

        -var pageDescription = description || config.description;

        meta(name='description', content!=pageDescription)

        title!=displayTitle(title)

        link(rel='canonical', href=fullUrl)

        link(rel='dns-prefetch', href='//maxcdn.bootstrapcdn.com')
        link(rel='dns-prefetch', href='//code.jquery.com')
        link(rel='dns-prefetch', href='//fonts.googleapis.com')

        link(rel='apple-touch-icon', href=getVersionedPath('/assets/img/favicons/apple-touch-icon.png'), sizes='180x180')
        link(rel='icon', type='image/png', href=getVersionedPath('/assets/img/favicons/favicon-32x32.png'), sizes='32x32')
        link(rel='icon', type='image/png', href=getVersionedPath('/assets/img/favicons/favicon-16x16.png'), sizes='16x16')
        link(rel='manifest', href='/assets/img/favicons/manifest.json')
        link(rel='mask-icon', href='/assets/img/favicons/safari-pinned-tab.svg', color='#00afec')
        link(rel='shortcut icon', href=getVersionedPath('/assets/img/favicons/favicon.ico'))
        meta(name='msapplication-config', content='/assets/img/favicons/browserconfig.xml')
        meta(name='theme-color', content='#222222')

        meta(property='og:title', content!=title)
        meta(property='og:type', content='website')
        meta(property='og:description', content!=pageDescription)
        meta(property='og:url', content=siteUrl)
        meta(property='og:image', content=siteUrl.replace(/^https:/, 'http:') + getVersionedPath('/assets/img/og.png'))
        meta(property='og:image:secure_url', content=siteUrl + getVersionedPath('/assets/img/og.png'))
        meta(property='og:image:type', content='image/png')
        meta(property='og:image:width', content='256')
        meta(property='og:image:height', content='256')

        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:creator', content='@getbootstrapcdn')
        meta(name='twitter:site', content='@getbootstrapcdn')
        meta(name='twitter:title', content!=title)

        meta(itemprop='name', content!=title)
        meta(itemprop='description', content!=pageDescription)
        meta(itemprop='image', content=getVersionedPath('/assets/img/og.png'))

        -var bootswatch = helpers.theme.fetch(config, theme);
        link(rel='stylesheet', href=bootswatch.uri, integrity=bootswatch.sri,
            crossorigin='anonymous')

        each css in config.stylesheet
            if (title === 'Privacy Policy' && css.name === 'iubenda')
                link(rel='stylesheet', href=getVersionedPath(css.uri),
                integrity=css.sri, crossorigin='anonymous')

        style
            if (process.env.NODE_ENV === 'production')
                include:clean-css /assets/css/style.css
            else
                include /assets/css/style.css

        block head

    body(class=bodyClass(title))
        include _partials/header.pug

        include _partials/jumbotron.pug

        .container
            .row
                .col-12.col-md-9
                    block content

                .col-12.col-md-3
                    .row
                        .col-12
                            include _partials/carbonads.pug
                        .col-12.d-none.d-lg-block
                            .twitter-timeline-custom

        include _partials/footer.pug

        script(nonce=nonce)
            include /assets/js/vendor/loadjs.min.js
            include _partials/loadjs.pug

//- vim: ft=pug sw=4 sts=4 et:
