doctype
html(lang='en', prefix='og: http://ogp.me/ns#', itemscope, itemtype='http://schema.org/WebPage')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        if (config.app.authors.active)
            meta(name='author', content=config.app.authors.active.map(author => author.name).join(', '))
        meta(name='twitter:dnt', content='on')

        -var pageDescription = description || config.app.description;
        meta(name='description', content!=pageDescription)

        title!=helpers.getPageTitle(title)

        link(rel='canonical', href=canonicalUrl)

        link(rel='dns-prefetch', href='https://cdn.jsdelivr.net')
        link(rel='dns-prefetch', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap', rel='stylesheet')

        include _partials/head/favicons.pug
        include _partials/head/social.pug

        -var bootswatch = helpers.theme.get(theme);
        link(rel='stylesheet', href=bootswatch.uri, integrity=bootswatch.sri, crossorigin='anonymous')

        block stylesheets

        style
            include /assets/css/style.css

        block head

    body(class=bodyClass)
        header
            include _partials/nav.pug
            include _partials/jumbotron.pug

        main.row.content-wrapper.mb-5.mx-3.mx-md-5.mx-xl-auto
            .col.col-lg-8.col-xl-9.p-0.content-main
                .row.justify-content-center
                    .col-12.p-0
                        block content
            aside.col-12.mt-3.p-0.text-center.col-lg-4.col-xl-3.content-aside
                .productionDiv.ml-auto
                    a(href='#') Learn more
                    p Check what makes us production ready
                    img(src='/assets/img/bannerImage.png' alt='banner image')

        include _partials/footer.pug

        script(nonce=nonce)
            include /assets/js/vendor/loadjs.min.js
            include _partials/loadjs.pug
            include /assets/js/google-analytics.js

        script(async, src='https://platform.twitter.com/widgets.js')
        script(async, defer, src='https://buttons.github.io/buttons.js')

        block scripts

//- vim: ft=pug sw=4 sts=4 et:
