doctype
html(lang='en', prefix='og: http://ogp.me/ns#', itemscope, itemtype='http://schema.org/WebPage')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='author', content=config.authors.map(author => author.name).join(', '))
        meta(name='google-site-verification', content='GoWOPbhuU3D9P-yDUxKl1RLuR_vqJIdP_smWw51Wmdc')

        -var pageDescription = description || config.description;

        meta(name='description', content!=pageDescription)

        title!=displayTitle(title)

        link(rel='canonical', href=canonicalUrl)

        link(rel='dns-prefetch', href='https://stackpath.bootstrapcdn.com')
        link(rel='dns-prefetch', href='https://code.jquery.com')
        link(rel='dns-prefetch', href='https://fonts.googleapis.com')

        meta(name='twitter:widgets:csp', content='on')

        include _partials/head/favicons.pug
        include _partials/head/social.pug

        -var bootswatch = helpers.theme.fetch(config, theme);
        link(rel='stylesheet', href=bootswatch.uri, integrity=bootswatch.sri,
            crossorigin='anonymous')

        block stylesheets

        style(nonce=nonce)
            if (process.env.NODE_ENV === 'production')
                include:clean-css /assets/css/style.css
            else
                include /assets/css/style.css

        block head

    body(class=bodyClass)
        include _partials/nav.pug

        include _partials/jumbotron.pug

        .container
            .row
                .col-12.col-md-9
                    block content

                .col-12.col-md-3
                    .row
                        .col-12
                            include _partials/carbonads.pug
                        .col-12.d-none.d-lg-block
                            .twitter-timeline-custom

        include _partials/footer.pug

        script(nonce=nonce)
            include /assets/js/vendor/loadjs.min.js
            include _partials/loadjs.pug
            include /assets/js/google-analytics.js

        block scripts

//- vim: ft=pug sw=4 sts=4 et:
