doctype
html(lang='en', prefix='og: http://ogp.me/ns#', itemscope, itemtype='http://schema.org/WebPage')
    head
        meta(charset='utf-8')
        meta('http-equiv'='X-UA-Compatible' content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='author', content=config.authors.join(', '))
        meta(name='google-site-verification', content='GoWOPbhuU3D9P-yDUxKl1RLuR_vqJIdP_smWw51Wmdc')

        - var description = description || config.description;
        - var pageTitle = displayTitle(title);

        meta(name='description', content=description)

        title!=pageTitle

        link(rel='canonical', href=fullUrl)

        link(rel='dns-prefetch', href='//fonts.googleapis.com')

        link(rel='apple-touch-icon', sizes='180x180', href='/assets/img/favicons/apple-touch-icon.png')
        link(rel='icon', type='image/png', href='/assets/img/favicons/favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='/assets/img/favicons/favicon-16x16.png', sizes='16x16')
        link(rel='manifest', href='/assets/img/favicons/manifest.json')
        link(rel='mask-icon', href='/assets/img/favicons/safari-pinned-tab.svg', color='#00afec')
        link(rel='shortcut icon', href='/assets/img/favicons/favicon.ico')
        meta(name='msapplication-config', content='/assets/img/favicons/browserconfig.xml')
        meta(name='theme-color', content='#222222')

        meta(property='og:title', content!=pageTitle)
        meta(property='og:type', content='website')
        meta(property='og:description', content=description)
        meta(property='og:url', content=siteUrl)
        meta(property='og:image', content=siteUrl.replace(/^https:/, 'http:') + '/assets/img/favicons/android-chrome-512x512.png')
        meta(property='og:image:secure_url', content=siteUrl + '/assets/img/favicons/android-chrome-512x512.png')
        meta(property='og:image:type', content='image/png')
        meta(property='og:image:width', content='512')
        meta(property='og:image:height', content='512')

        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:creator', content='@getbootstrapcdn')
        meta(name='twitter:site', content='@getbootstrapcdn')
        meta(name='twitter:title', content!=pageTitle)

        meta(itemprop='name', content='BootstrapCDN')
        meta(itemprop='description', content=description)
        meta(itemprop='image', content='/assets/img/favicons/android-chrome-512x512.png')

        - bootswatch = helpers.theme.fetch(config, theme);
        link(rel='stylesheet', href=bootswatch.uri, integrity=bootswatch.sri,
            crossorigin='anonymous')

        - fontawesome = config.fontawesome.filter(function(o) { return o.latest; })[0];
        link(rel='stylesheet', href=fontawesome.stylesheet, integrity=fontawesome.stylesheetSri, crossorigin='anonymous')

        if process.env.NODE_ENV == 'production'
            style
                include:clean-css /assets/css/style.css
        else
            style
                include /assets/css/style.css

        block head

    body(class=bodyClass(title))
        include _partials/header

        include _partials/jumbotron

        .container
            .row
                .col-sm-12.col-md-9
                    block content

                    include _partials/footer

                .col-md-3.visible-md.visible-lg
                    include _partials/tweets

        script(src=config.javascripts.jquery.uri,
            integrity=config.javascripts.jquery.sri, crossorigin='anonymous')

        - bootstrap = config.bootstrap.filter(function(o) { return o.latest; })[0];
        script(src=bootstrap.javascript, integrity=bootstrap.javascriptSri,
            crossorigin='anonymous')

        if process.env.NODE_ENV == 'production'
            script(nonce=nonce)
                include:uglify-js /assets/js/main.js
        else
            script(nonce=nonce)
                include /assets/js/main.js

//- vim: ft=pug sw=4 sts=4 et:
