doctype
html(lang="en")
    head
        meta(charset='utf-8')
        meta('http-equiv'='X-UA-Compatible' content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='author', content=config.authors.join(', '))
        meta(name='description', content=(description || config.description))

        title=title

        link(rel='canonical', href=fullUrl)

        link(rel='shortcut icon', href=config.favicon.uri)

        - bootswatch = helpers.theme.fetch(config, theme);
        link(rel='stylesheet', href=bootswatch.uri, integrity=bootswatch.sri, crossorigin="anonymous")

        - fontawesome = config.fontawesome.filter(function(o) { return o.latest; })[0];
        link(rel='stylesheet', href=fontawesome.stylesheet, integrity=fontawesome.stylesheet_sri, crossorigin="anonymous")

        != helpers.cacheBuster.css(config.stylesheets.style.uri, config.stylesheets.style.sri)

        block head

    body
        include _partials/ie-warning
        include _partials/header

        //-Don't want to run randomizer twice.
        - var randomTweets = helpers.randomTweets(tweets)

        include _partials/jumbotron

        .container
            .row
                .col-sm-12.col-md-9
                    block content

                    include _partials/footer

                .col-md-3.visible-md.visible-lg
                    include _partials/tweets

        - if (config.javascript && config.javascript.after)
            each js in config.javascript.after
                - js=js.replace('SWATCH_VERSION', config.bootswatch.version)
                script(src=js)

        script(src=config.javascripts.jquery.uri, integrity=config.javascripts.jquery.sri, crossorigin="anonymous")

        - bootstrap = config.bootstrap.filter(function(o) { return o.latest; })[0];
        script(src=bootstrap.javascript, integrity=bootstrap.javascript_sri, crossorigin="anonymous")

        - if (config.google_analytics)
            include _partials/javascripts/google_analytics

        include _partials/javascripts/after

//- vim: ft=pug sw=4 sts=4 et:
