doctype
html
    head
        meta(charset='utf-8')
        meta('http-equiv'='X-UA-Compatible' content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title=title
        meta(name='author', content=config.authors.join(', '))
        meta(name='description', content=(description || config.description))

        link(rel='shortcut icon', href=config.favicon)

        link(rel='stylesheet', href=helpers.theme.css(config, theme))

        - if (config.stylesheets)
            - each css in config.stylesheets
                link(rel='stylesheet', href=css)

        - if (config.javascript && config.javascript.before)
            - each js in config.javascript.before
                script(src=js)

        <!--[if lt IE 9]>
        script(src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
        script(src="//oss.maxcdn.com/respond/1.4.2/respond.min.js")
        <![endif]-->

        block head

    body
        include _partials/header

        block content

        - if (config.javascript && config.javascript.after)
            - each js in config.javascript.after
                script(src=js)
        - if (config.google_analytics)
            include _partials/javascripts/google_analytics

        include _partials/javascripts/after

        block last
//- vim: ft=jade sw=4 sts=4 et:
