doctype 5
html
    head
        title= title

        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='author', content=config.authors.join(', '))
        meta(name='description', content=(description || config.description))

        link(rel='shortcut', href=config.favicon.png)

        link(rel='stylesheet', href=helpers.theme.css(config, theme))

        - if (config.stylesheets)
            - each css in config.stylesheets
                link(rel='stylesheet', href=css)

        - if (config.javascript && config.javascript.before)
            - each js in config.javascript.before
                script(src=js, charset="utf-8")

        style.
            img.bootswatch {
                width: 100%;
            }
            /* hack to fix firefox issue where tweet and blockquote
             * where both showing up, little help anyone? */
            blockquote.twitter-tweet {
                visibility:hidden;
                height: 0px;
                margin: 5px;
                padding: 0 0;
            }
            .tryit {
                padding-top: 25px;
            }
            .well {
                margin-top: 20px; padding-top: 0px;
            }
            .bootswatch {
                padding: 10px 0px 20px 0px;
            }
            .input-lg {
                width: 100%;
                margin: 0;
            }
            .jumbotron {
                margin-top: -50px;
                padding-bottom: 25px;
            }
            input.form-control {
                color: #000 !important;
            }

        block head

    body
    include _partials/header

    block content

    - if (config.google_analytics)
        include _partials/javascripts/google_analytics

    - if (config.javascript && config.javascript.after)
        - each js in config.javascript.after
            script(src=js)

    //-include _partials/footer
    include _partials/javascripts/after

    block last

//- vim: ft=jade sw=4 sts=4 et:
