extends layout

block content
    h2 Bootstrap Legacy
    each item in config.bootstrap
        - if (!item.latest)
            div.well
                h2= item.version
                - if (item.stylesheet)
                    - var file = item.stylesheet
                    - var sri  = item.stylesheet_sri
                    - var name = "css_complete_" + item.version.replace(/\./g, '_')
                    - var id   = name + '_form'
                    .form-group
                        label(for=id) Complete CSS
                    .input-group
                        input.form-control(type="text", id=id, value=file)
                        .input-group-btn
                            button.btn.btn-default(type="button", onclick="toggleCode(this,'" + name + "')")
                                i.fa.fa-caret-down
                    include _partials/csscode

                - if (item.javascript)
                    - var file = item.javascript
                    - var sri  = item.javascript_sri
                    - var name = "javascript_" + item.version.replace(/\./g, '_')
                    - var id   = name + '_form'
                    .form-group
                        label(for=id) Complete JavaScript
                    .input-group
                        input.form-control(type="text", id=id, value=file)
                        .input-group-btn
                            button.btn.btn-default(type="button", onclick="toggleCode(this,'" + name + "')")
                                i.fa.fa-caret-down
                    include _partials/jscode

//- vim: ft=pug sw=4 sts=4 et:
