extends layout

block content
    h2 Showcase
    .row
        .col-md-6.text-center
            - each item in col1
                hr
                br
                img(src=item.img, class="img-responsive", style="margin: 0 auto")
                h3: a(href=item.url, target="_blank")=item.name
                | Libraries: 
                span=item.lib
                br

        .col-md-6.text-center
            - each item in col2
                hr
                br
                img(src=item.img, class="img-responsive", style="margin: 0 auto")
                h3: a(href=item.url, target="_blank")=item.name
                | Libraries: 
                span=item.lib
                br

//- vim: ft=jade sw=4 sts=4 et:
