.collapse(id=name)
    .collapsed-content
        .d-flex.flex-column.content-card-block
            -var formId = `html_${name}`;

            a.text-decoration-none(href='https://www.w3.org/html/', rel='noopener', target='_blank') HTML
            .content-card-input
                input.d-flex.flex-grow-1(id=formId,
                    type='text',
                    readonly,
                    value=`<link rel="stylesheet" href="${file}" integrity="${sri}" crossorigin="anonymous">`)
            span.mt-2.copy-btn Click to copy

        .d-flex.flex-column.content-card-block
            -var formId = `pug_${name}`;

            a.text-decoration-none(href='https://pugjs.org/', rel='noopener', target='_blank') Pug
            .content-card-input
                input.d-flex.flex-grow-1(id=formId,
                    type='text',
                    readonly,
                    value=`link(rel="stylesheet", href="${file}", integrity="${sri}", crossorigin="anonymous")`)
            span.mt-2.copy-btn Click to copy

        .d-flex.flex-column.content-card-block
            -var formId = `haml_${name}`;

            a.text-decoration-none(href='http://haml.info/', rel='noopener', target='_blank') Haml
            .content-card-input
                input.d-flex.flex-grow-1(id=formId,
                    type='text',
                    readonly,
                    value=`%link{rel: "stylesheet", href: "${file}", integrity: "${sri}", crossorigin: "anonymous"}`)
            span.mt-2.copy-btn Click to copy

//- vim: ft=pug sw=4 sts=4 et:
