br
hr
footer.text-center
    p
        | Maintained by 
        a(href="https://twitter.com/jdorfman") @jdorfman
        |  and 
        a(href="https://twitter.com/mervinej") @mervinej
    p
        a(href="https://www.maxcdn.com/")
            i.fa.fa-maxcdn.fa-3x

    p
        | Homies be 
        a(href=config.friends[0].url, target="_blank")=config.friends[0].name 
        | , 
        a(href=config.friends[1].url, target="_blank")=config.friends[1].name 
        | , 
        a(href=config.friends[2].url, target="_blank")=config.friends[2].name 
        | , 
        a(href=config.friends[3].url, target="_blank")=config.friends[3].name 
        |  &amp; 
        a(href=config.friends[4].url, target="_blank")=config.friends[4].name

//- vim: ft=pug sw=4 sts=4 et:
