br
hr
footer
    p
        | Maintained by 
        a(href='https://twitter.com/jdorfman', target='_blank', rel='noopener noreferrer') @jdorfman
        |  , 
        a(href='https://twitter.com/mervinej', target='_blank', rel='noopener noreferrer') @mervinej
        |  and 
        a(href='https://xhmikosr.io/', target='_blank', rel='noopener noreferrer') @XhmikosR
    p
        a(href='https://www.stackpath.com/', target='_blank', rel='noopener noreferrer')
            include /assets/img/stack-path-icon.svg

    p
        | Homies be 
        a(href=config.friends[0].url, target='_blank', rel='noopener noreferrer')=config.friends[0].name 
        | , 
        a(href=config.friends[1].url, target='_blank', rel='noopener noreferrer')=config.friends[1].name 
        | , 
        a(href=config.friends[2].url, target='_blank', rel='noopener noreferrer')=config.friends[2].name 
        | , 
        a(href=config.friends[3].url, target='_blank', rel='noopener noreferrer')=config.friends[3].name 
        |  &amp; 
        a(href=config.friends[4].url, target='_blank', rel='noopener noreferrer')=config.friends[4].name

//- vim: ft=pug sw=4 sts=4 et:
