- themeQs = theme ? '?theme='+theme : ''
.navbar.navbar-default.navbar-static-top(role="navigation")
    .container-fluid
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/" + themeQs) BootstrapCDN
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li: a(href="/fontawesome/" + themeQs)
                  i.fa.fa-flag
                  | &nbsp;Font Awesome
                li: a(href="/bootswatch/" + themeQs) Bootswatch
                li: a(href="/bootlint/" + themeQs) Bootlint
                li: a(href="/legacy/" + themeQs) Legacy

            ul.nav.navbar-nav.navbar-right
                li: a(href="/showcase/" + themeQs) Showcase
                li: a(href="/integrations/" + themeQs) Integrations
                li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown") Resources&nbsp;
                        i.fa.fa-caret-down
                    ul.dropdown-menu.dropdown-menu-right(role="menu")
                        li
                            a(href="https://github.com/MaxCDN/bootstrap-cdn",
                                onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);") GitHub project
                        li
                            a(href="https://wordpress.org/plugins/bootstrapcdn/",
                                onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'WordPress Plugin']);") WordPress Plugin
                        li
                            a(href="http://getbootstrap.com/",
                                onclick="_gaq.push(['_trackEvent', 'Navigation', 'Resources', 'Bootstrap']);") Bootstrap
                        li
                            a(href="http://expo.getbootstrap.com/",
                                onclick="_gaq.push(['_trackEvent', 'Navigation', 'Resources', 'Expo']);") Bootstrap Expo
                        li
                            a(href="http://fontawesome.io/",
                                onclick="_gaq.push(['_trackEvent', 'Navigation', 'Resources', 'Font Awesome']);") Font Awesome
                        li
                            a(href="http://bootswatch.com/",
                                onclick="_gaq.push(['_trackEvent', 'Navigation', 'Resources', 'Bootswatch']);") Bootswatch
                        li
                            a(href="https://github.com/twbs/bootlint"
                                onclick="_gaq.push(['_trackEvent', 'Navigation', 'Resources', 'Bootlint']);") Bootlint
                        li
                            a(href="https://glyphicons.com/",
                                onclick="_gaq.push(['_trackEvent', 'Navigation', 'Resources', 'Glyphicons']);") Glyphicons

//- vim: ft=pug sw=4 sts=4 et:
