-var themeQs = theme ? '?theme=' + theme : '';

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='/' + themeQs)
        include /assets/img/bootstrapcdn.svg
        | BootstrapCDN

    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-nav', aria-controls='main-nav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon

    #main-nav.navbar-collapse.collapse
        ul.nav.navbar-nav.ml-lg-5
            li(class='nav-item' + (title === 'Font Awesome' ? ' active' : ''))
                a.nav-link(href='/fontawesome/' + themeQs) Font Awesome
            li(class='nav-item' + (title === 'Bootswatch' ? ' active' : ''))
                a.nav-link(href='/bootswatch/' + themeQs) Bootswatch
            li(class='nav-item' + (title === 'Bootlint' ? ' active' : ''))
                a.nav-link(href='/bootlint/' + themeQs) Bootlint
            li.nav-item.dropdown
                a#navbarDropdown1.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Old Versions
                ul.dropdown-menu.bg-dark(aria-labelledby='navbarDropdown1')
                    li(class='dropdown-item bg-dark' + (title === 'Bootstrap Legacy' ? ' active' : ''))
                        a.nav-link(href='/legacy/bootstrap/' + themeQs) Bootstrap
                    li(class='dropdown-item bg-dark' + (title === 'Bootswatch Legacy' ? ' active' : ''))
                        a.nav-link(href='/legacy/bootswatch/' + themeQs) Bootswatch
                    li(class='dropdown-item bg-dark' + (title === 'Font Awesome Legacy' ? ' active' : ''))
                        a.nav-link(href='/legacy/fontawesome/' + themeQs) Font Awesome
        ul.nav.navbar-nav.ml-auto
            li(class='nav-item' + (title === 'Showcase' ? ' active' : ''))
                a.nav-link(href='/showcase/' + themeQs) Showcase
            li(class='nav-item' + (title === 'Integrations' ? ' active' : ''))
                a.nav-link(href='/integrations/' + themeQs) Integrations
            li.nav-item.dropdown
                a#navbarDropdownRight.nav-dropdown.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Resources
                ul.dropdown-menu.dropdown-menu-right.bg-dark(aria-labelledby='navbarDropdownRight')
                    li.dropdown-item.bg-dark
                        a.nav-link(href='https://github.com/MaxCDN/bootstrapcdn',
                            data-ga-category='Navigation',
                            data-ga-action='Resources',
                            data-ga-label='GitHub project',
                            rel='noopener',
                            target='_blank') GitHub project
                    li.dropdown-item.bg-dark
                        a.nav-link(href='https://getbootstrap.com/',
                            data-ga-category='Navigation',
                            data-ga-action='Resources',
                            data-ga-label='Bootstrap',
                            rel='noopener',
                            target='_blank') Bootstrap
                    li.dropdown-item.bg-dark
                        a.nav-link(href='https://expo.getbootstrap.com/',
                            data-ga-category='Navigation',
                            data-ga-action='Resources',
                            data-ga-label='Expo',
                            rel='noopener',
                            target='_blank') Bootstrap Expo
                    li.dropdown-item.bg-dark
                        a.nav-link(href='https://fontawesome.com/',
                            data-ga-category='Navigation',
                            data-ga-action='Resources',
                            data-ga-label='Font Awesome',
                            rel='noopener',
                            target='_blank') Font Awesome
                    li.dropdown-item.bg-dark
                        a.nav-link(href='https://bootswatch.com/',
                            data-ga-category='Navigation',
                            data-ga-action='Resources',
                            data-ga-label='Bootswatch',
                            rel='noopener',
                            target='_blank') Bootswatch
                    li.dropdown-item.bg-dark
                        a.nav-link(href='https://github.com/twbs/bootlint'
                            data-ga-category='Navigation',
                            data-ga-action='Resources',
                            data-ga-label='Bootlint',
                            rel='noopener',
                            target='_blank') Bootlint

//- vim: ft=pug sw=4 sts=4 et:
