.navbar.navbar-default
    .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href="/") Bootstrap CDN
    .navbar-collapse.collapse
        ul.nav.navbar-nav
            li.active
                a(data-toggle="tab", href="#quickstart", onclick="tabAction(this)") Quick Start
            li
                a(data-toggle="tab", href="#fontawesome", onclick="tabAction(this)")
                    .icon-flag &nbsp;Font Awesome
            li
                a(data-toggle="tab", href="#bootswatch", onclick="tabAction(this)") Bootswatch
            li
                a(data-toggle="tab", href="#legacy", onclick="tabAction(this)") Legacy
            li.hidden-md.hidden-lg
                a(data-toggle="tab", href="#madlove", onclick="tabAction(this)") Mad Love

        ul.nav.navbar-nav.pull-right.visible-md.visible-lg
            - if (config.stats === true)
                li#stats.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown") Usage Statistics
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href="/stats/popular"+(theme ? "?theme="+theme : "")) Popular Files
            li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown") Resources&nbsp;
                    b.caret
                ul.dropdown-menu
                    li
                        a(href="http://github.com/netdna/bootstrap-cdn",
                            onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);") GitHub project
                    li
                        a(href="http://getbootstrap.com",
                            onclick="_gaq.push(['_trackEvent', 'Navigation', 'Resources', 'Bootstrap']);") Bootstrap
                    li
                        a(href="http://expo.getbootstrap.com",
                            onclick="_gaq.push(['_trackEvent', 'Navigation', 'Resources', 'Expo']);") Bootstrap Expo
                    li
                        a(href="http://fontawesome.io",
                            onclick="_gaq.push(['_trackEvent', 'Navigation', 'Resources', 'Font Awesome']);") Font Awesome
                    li
                        a(href="http://bootswatch.com",
                            onclick="_gaq.push(['_trackEvent', 'Navigation', 'Resources', 'Bootswatch']);") Bootswatch
                    li
                        a(href="http://glyphicons.com",
                            onclick="_gaq.push(['_trackEvent', 'Navigation', 'Resources', 'Glyphicons']);") Glyphicons

//- vim: ft=jade sw=4 sts=4 et:
