.collapse(id=name)
    .card.bg-light.mb-4.px-4.text-center
        .form-group.mt-4
            -var formId = `html_${name}`;
            label.font-weight-bold(for=formId)
                a(href='https://www.w3.org/html/', rel='noopener', target='_blank') HTML
            input.form-control(id=formId, type='text', readonly, value=`<script src="${file}" integrity="${sri}" crossorigin="anonymous"></script>`)
            span.form-text.text-muted Click to copy
        .form-group
            -var formId = `pug_${name}`;
            label.font-weight-bold(for=formId)
                a(href='https://pugjs.org/', rel='noopener', target='_blank') Pug
            input.form-control(id=formId, type='text', readonly, value=`script(src="${file}", integrity="${sri}", crossorigin="anonymous")`)
            span.form-text.text-muted Click to copy
        .form-group.mb-4
            -var formId = `haml_${name}`;
            label.font-weight-bold(for=formId)
                a(href='http://haml.info/', rel='noopener', target='_blank') Haml
            input.form-control(id=formId, type='text', readonly, value=`%script{src: "${file}", integrity: "${sri}", crossorigin: "anonymous"}`)
            span.form-text.text-muted Click to copy

//- vim: ft=pug sw=4 sts=4 et:
