.jumbotron.p-0.m-0.bg-transparent
    #jumbotron-content.mb-5.mx-3.mx-md-5.mx-xl-auto
        h1.display-5.mb-3 BootstrapCDN

        p.m-0.text-md-left
            | The recommended
            |
            a.text-decoration-none(href='https://www.jsdelivr.com', rel='noopener nofollow', target='_blank') CDN
            |
            | for
            |
            a.text-decoration-none(href='https://getbootstrap.com/', rel='noopener nofollow', target='_blank') Bootstrap
            | ,
            |
            a.text-decoration-none(href='https://fontawesome.com/', rel='noopener nofollow', target='_blank') Font Awesome
            | ,
            |
            a.text-decoration-none(href='https://bootswatch.com/', rel='noopener nofollow', target='_blank') Bootswatch
            |  and
            |
            a.text-decoration-none(href='https://icons.getbootstrap.com/', rel='noopener', target='_blank') Bootstrap Icons

        .social.my-5.text-start
            ul.d-flex.flex-column.flex-sm-row
                li.d-block.d-sm-inline-flex.align-items-center.mr-sm-3.jsdelivr-github-btn
                    a.github-button(href='https://github.com/jsdelivr/bootstrapcdn',
                        data-color-scheme='no-preference: dark; light: dark; dark: dark;',
                        data-icon='octicon-star',
                        data-size='large',
                        data-text='Star',
                        data-show-count='true',
                        aria-label='Star jsdelivr/bootstrapcdn on GitHub')

                li.d-block.d-sm-inline-flex.align-items-center.mx-sm-3
                    a.twitter-follow-button(href='https://twitter.com/jsdelivr',
                        data-show-count='false',
                        data-size='large',
                        data-text='Follow @jsdelivr')

                li.d-block.d-sm-inline-flex.align-items-center.mx-sm-3.jsdelivr-sponsor-btn
                    iframe(src='https://github.com/sponsors/jsdelivr/button',
                        title='Sponsor jsdelivr',
                        height='35',
                        width='116',
                        style='border: 0;')

        .boxes-images.d-none.d-lg-block
            include /assets/img/jumbotron_boxes.svg

//- vim: ft=pug sw=4 sts=4 et:
