#legacy.tab-pane
    h2 Bootstrap Legacy
    - each item in config.bootstrap
        - if (!item.latest)
            center.well
                .label-container
                    h3= item.version
                - if (item.css_complete)
                    - var name = "css_complete_"+item.version.replace(/\./g,'_')
                    - var cssPath = item.css_complete
                    .label-container
                        h5 Complete CSS
                    .input-group
                        input.form-control(value=cssPath)
                        .input-group-btn
                            button.btn.btn-default(type="button", onclick="toggleCode(this,'"+name+"')")
                                i.fa.fa-caret-down
                    include csscode

                - if (item.javascript)
                    - var name = "javascript_"+item.version.replace(/\./g,'_')
                    - var jsPath = item.javascript
                    .label-container
                        h5 Complete JavaScript
                    .input-group
                        input.form-control(value=jsPath)
                        .input-group-btn
                            button.btn.btn-default(type="button", onclick="toggleCode(this,'"+name+"')")
                                i.fa.fa-caret-down
                    include jscode

                - if (item.css_no_icons)
                    - var name = "css_no_icons_"+item.version.replace(/\./g,'_')
                    - var cssPath = item.css_no_icons
                    .label-container
                        h5 Complete CSS (without Icons)
                    .input-group
                        input.form-control(value=cssPath)
                        .input-group-btn
                            button.btn.btn-default(type="button", onclick="toggleCode(this,'"+name+"')")
                                i.fa.fa-caret-down
                    include csscode
    br
//- vim: ft=jade sw=4 sts=4 et:
