#legacy.tab-pane
    - each item in config.bootstrap
        - if (!item.current)
            .label-container
                .label.label-info= item.version
            - if (item.css_complete)
                .label-container
                    .label Complete CSS
                p
                    input.inputs(value=item.css_complete)

            - if (item.javascript)
                .label-container
                    .label Complete JavaScript
                p
                    input.inputs(value=item.javascript)

            - if (item.css_no_icons)
                .label-container
                    .label Complete CSS (without Icons)
                p
                    input.inputs(value=item.css_no_icons)
    br
//- vim: ft=jade sw=4 sts=4 et:
