-
    var bootswatchVersion = semver.coerce(config.files.bootswatch4.version);
    var bootstrap = config.files.bootstrap.find(file => semver.satisfies(file.version, `~${bootswatchVersion}`));
    var jquery = config.app.javascript.find(file => file.name === 'jquery');
    var clipboardjs = config.app.javascript.find(file => file.name === 'clipboardjs');
    var clipboardjsUri = getVersionedPath(clipboardjs.uri);
    var clipboardjsSri = generateSRI(clipboardjs.uri);
    var mainJs = config.app.javascript.find(file => file.name === 'main');
    var mainJsUri = getVersionedPath(mainJs.uri);
    var mainJsSri = generateSRI(mainJs.uri);

| var mainJsUri = '#{mainJsUri}';
| var clipboardjsUri = '#{clipboardjsUri}';
| var jqueryUri = '#{jquery.uri}';
| var bootstrapUri = '#{bootstrap.javascript}';
|
| loadjs([clipboardjsUri, mainJsUri], 'main', {
|    before: function(path, el) {
|        el.integrity = path === mainJsUri ? '#{mainJsSri}' : '#{clipboardjsSri}';
|        el.crossOrigin = 'anonymous';
|     },
|     async: false
| });
| loadjs([jqueryUri, bootstrapUri], 'jquery', {
|    before: function(path, el) {
|        el.integrity = path === jqueryUri ? '#{jquery.sri}' : '#{bootstrap.javascriptSri}';
|        el.crossOrigin = 'anonymous';
|     },
|     async: false
| });
