-
    var bootswatchVersion = semver.coerce(config.bootswatch4.version);
    var bootstrap = config.bootstrap.find((file) => semver.satisfies(file.version, `~${bootswatchVersion}`));
    var jquery = config.javascript.find((file) => file.name === 'jquery');
    var clipboardjs = config.javascript.find((file) => file.name === 'clipboardjs');
    var clipboardjsUri = getVersionedPath(clipboardjs.uri);
    var mainJs = config.javascript.find((file) => file.name === 'main');
    var mainJsUri = getVersionedPath(mainJs.uri);

| var mainJsUri = '#{mainJsUri}';
| var clipboardjsUri = '#{clipboardjsUri}';
| var jqueryUri = '#{jquery.uri}';
| var bootstrapBundleUri = '#{bootstrap.javascriptBundle}';
|
| loadjs([clipboardjsUri, mainJsUri], 'main', {
|     async: false
| });
| loadjs([jqueryUri, bootstrapBundleUri], 'jquery', {
|    before: function(path, el) {
|        el.integrity = path === jqueryUri ? '#{jquery.sri}' : '#{bootstrap.javascriptBundleSri}';
|        el.crossOrigin = 'anonymous';
|     },
|     async: false
| });
