include ../_mixins.pug

-var themeQs = theme ? `?theme=${theme}` : '';
nav.navbar.navbar-expand-xl.navbar-light.pt-4.pl-4.pr-4.pb-0.mx-auto
    a.navbar-brand.d-flex.align-items-center.p-0(href=`/${themeQs}`)
        include /assets/img/bootstrapcdn.svg
        | BootstrapCDN

    button.navbar-toggler(type='button',
        data-toggle='collapse',
        data-target='#main-nav',
        aria-controls='main-nav',
        aria-expanded='false',
        aria-label='Toggle navigation')
        span.navbar-toggler-icon

    #main-nav.navbar-collapse.collapse
        ul.nav.navbar-nav
            +menuItem('Font Awesome CDN', '/fontawesome/')
            +menuItem('Bootstrap Icons CDN', '/bootstrapicons/')
            +menuItem('Bootswatch CDN', '/bootswatch/')
            +menuItem('Bootlint CDN', '/bootlint/')
        ul.nav.navbar-nav.ml-auto
            li.nav-item
                a.nav-link.d-flex.align-items-center.github-link.p-0.mr-4(href='https://github.com/jsdelivr/bootstrapcdn',
                    data-ga-category='Navigation',
                    data-ga-action='Github Projet',
                    data-ga-label='Font Awesome',
                    rel='noopener nofollow',
                    target='_blank',)
                    include /assets/img/github.svg
                    | GitHub Project

            li.nav-item.dropdown
                a#navbarDropdownRight.nav-dropdown.nav-link.dropdown-toggle.pt-0.pl-0.pb-0(href='#',
                    data-toggle='dropdown',
                    role='button',
                    aria-haspopup='true',
                    aria-expanded='false')
                    | Resources

                ul.dropdown-menu.dropdown-menu-right.resource-dropwdown(aria-labelledby='navbarDropdownRight')
                    li.dropdown-item.resource-item.p-0.mb-3
                        a.nav-link.p-0(href='https://fontawesome.com/',
                            data-ga-category='Navigation',
                            data-ga-action='Resources',
                            data-ga-label='Font Awesome',
                            rel='noopener nofollow',
                            target='_blank') Font Awesome
                            include /assets/img/link_arrow.svg
                    li.dropdown-item.resource-item.p-0.mb-3
                        a.nav-link.p-0(href='https://bootswatch.com/',
                            data-ga-category='Navigation',
                            data-ga-action='Resources',
                            data-ga-label='Bootswatch',
                            rel='noopener nofollow',
                            target='_blank') Bootswatch
                            include /assets/img/link_arrow.svg
                    li.dropdown-item.resource-item.p-0.mb-3
                        a.nav-link.p-0(href='https://bootswatch.com/',
                            data-ga-category='Navigation',
                            data-ga-action='Resources',
                            data-ga-label='Bootswatch',
                            rel='noopener nofollow',
                            target='_blank') Bootstrap Icons
                            include /assets/img/link_arrow.svg
                    li.dropdown-item.resource-item.p-0
                        a.nav-link.p-0(href='https://github.com/twbs/bootlint'
                            data-ga-category='Navigation',
                            data-ga-action='Resources',
                            data-ga-label='Bootlint',
                            rel='noopener nofollow',
                            target='_blank') Bootlint
                            include /assets/img/link_arrow.svg

//- vim: ft=pug sw=4 sts=4 et:
