hr
br
a(href=item.url, target="_blank")
    img.img-responsive.thumbnail.center-block(src=helpers.buster(item.img), alt=item.name + ' Screenshot', width='443', height='289')
h3
    a(href=item.url, target="_blank")=item.name
| Libraries: 
span=item.lib
br

