.social.text-center
    ul.list-inline
        li
            iframe(
                src="https://ghbtns.com/github-btn.html?user=MaxCDN&repo=bootstrap-cdn&type=watch&count=true",
                width="110",
                height="20",
                title="Star on GitHub"
            )
        li
            iframe.twitter-follow-button(
                src="https://platform.twitter.com/widgets/follow_button.1375828408.html#_=1376940868174&id=twitter-widget-2&lang=en&screen_name=jdorfman&show_count=false&show_screen_name=true&size=m",
                width="130",
                height="20",
                title="Twitter Tweet Button",
                data-twttr-rendered="true"
            )
        li
            iframe.twitter-follow-button(
                src="https://platform.twitter.com/widgets/follow_button.1375828408.html#_=1376940868174&id=twitter-widget-2&lang=en&screen_name=mervinej&show_count=false&show_screen_name=true&size=m",
                width="130",
                height="20",
                title="Twitter Tweet Button",
                data-twttr-rendered="true"
            )
        li
            iframe.twitter-share-button.twitter-count-horizontal(
                src="https://platform.twitter.com/widgets/tweet_button.1379006964.html#_=1379111570224&count=horizontal&hashtags=webperf&id=twitter-widget-0&lang=en&related=mervinej&size=m&text=%23BootstrapCDN%3A%20%40getbootstrap%20hosted%20by%20%40MaxCDN&url=http%3A%2F%2Fwww.bootstrapcdn.com&via=jdorfman",
                title="Twitter Tweet Button",
                data-twttr-rendered="true",
                width="107",
                height="20"
            )

//- vim: ft=pug sw=4 sts=4 et:
