.card-deck
    .card.border-primary.py-3.px-md-3.mb-3.text-center.theme-card
        .card-header.bg-transparent.border-0
            img.card-img-top.img-fluid.d-block.mx-auto(src=getVersionedPath(theme.img), alt=`${theme.name} preview`, width='600', height='375')
        .card-body.bg-transparent.border-0
            h3.h4.card-title.mb-0=theme.name
        .card-footer.bg-transparent.border-0
            a.btn.btn-primary.btn-lg.btn-block.w-75.mx-auto.py-3(href=theme.url, rel='noopener nofollow', target='_blank') Buy Theme

//- vim: ft=pug sw=4 sts=4 et:
