link(rel='apple-touch-icon', href=getVersionedPath('/assets/img/favicons/apple-touch-icon.png'), sizes='180x180')
link(rel='icon', type='image/png', href=getVersionedPath('/assets/img/favicons/favicon-32x32.png'), sizes='32x32')
link(rel='icon', type='image/png', href=getVersionedPath('/assets/img/favicons/favicon-16x16.png'), sizes='16x16')
link(rel='manifest', href='/assets/img/favicons/manifest.json')
link(rel='mask-icon', href=getVersionedPath('/assets/img/favicons/safari-pinned-tab.svg'), color='#00afec')
link(rel='shortcut icon', href=getVersionedPath('/assets/img/favicons/favicon.ico'))
meta(name='msapplication-config', content='/assets/img/favicons/browserconfig.xml')
meta(name='theme-color', content='#222')

//- vim: ft=pug sw=4 sts=4 et:
