meta(property='og:title', content!=title)
meta(property='og:type', content='website')
meta(property='og:description', content!=pageDescription)
meta(property='og:url', content=`${siteUrl}${pageUrl}`)
meta(property='og:image', content=`${siteUrl.replace(/^https:/, 'http:')}${getVersionedPath('/assets/img/og.png')}`)
meta(property='og:image:secure_url', content=`${siteUrl}${getVersionedPath('/assets/img/og.png')}`)
meta(property='og:image:type', content='image/png')
meta(property='og:image:width', content='256')
meta(property='og:image:height', content='256')

meta(name='twitter:card', content='summary')
meta(name='twitter:creator', content='@getbootstrapcdn')
meta(name='twitter:site', content='@getbootstrapcdn')
meta(name='twitter:title', content!=title)

meta(itemprop='name', content!=title)
meta(itemprop='description', content!=pageDescription)
meta(itemprop='image', content=getVersionedPath('/assets/img/og.png'))

//- vim: ft=pug sw=4 sts=4 et:
